<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="AWSAcessKey" value="xxxxxxxxxxx" />
    <add key="AWSSecretKey" value="xxxxxxxxxxxxxxxxxxx" />

    <add key="smtpServer" value="xxxx.xxxx.xxxx" />
    <add key="fromMailAddress" value="xxxxxx@xxxx.xxx" />
    <add key="fromAccount" value="xxxxx" />
    <add key="fromPassword" value="xxxxx" />
    <add key="fromPort" value="25" />
    <add key="sendMailAddress" value="xxxxx@xxxx.xxx" />

    <add key="checkTime" value="12:00" />
    <add key="limit" value="1" />

  </appSettings>
</configuration>